@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-Regular.woff2') format('woff2'),
       url('/fonts/Matt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-RegularItalic.woff2') format('woff2'),
       url('/fonts/Matt-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-Bold.woff2') format('woff2'),
       url('/fonts/Matt-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-BoldItalic.woff2') format('woff2'),
       url('/fonts/Matt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-Light.woff2') format('woff2'),
       url('/fonts/Matt-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-LightItalic.woff2') format('woff2'),
       url('/fonts/Matt-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-ExtraBold.woff2') format('woff2'),
       url('/fonts/Matt-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-ExtraBoldItalic.woff2') format('woff2'),
       url('/fonts/Matt-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-Thin.woff2') format('woff2'),
       url('/fonts/Matt-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Matt Trial';
  src: url('/fonts/Matt-ThinItalic.woff2') format('woff2'),
       url('/fonts/Matt-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

/* Apply globally */
* {
  font-family: 'Matt Trial', sans-serif;
}

body {
  overflow-y: scroll; /* Enable scrolling but hide scrollbar */
}

.hover-link:hover .svg-path {
  fill: #0009FF; /* Blue background on hover */
  stroke: none;  /* Remove border stroke if needed */
}

.hover-link:hover .svg-text {
  fill: #FFFFFF; /* White text on hover */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  .scroll-smooth {
    scroll-behavior: smooth;
  }
  

.cloudy-section {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}


.cloudy-section:hover {
  background: radial-gradient(circle, #ffffff, #b3e5fc, #29b6f6);
}

.cloudy-section::before,
.cloudy-section::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #29b6f6;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cloudy-section:hover::before {
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.cloudy-section:hover::after {
  bottom: -50px;
  right: -60px;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.responsive-svg {
  width: 100%;
  height: auto; 
}

@media (min-width: 425px) {
  .responsive-svg {
    width: 360px;
    height: 298px;
  }
}

@media (max-width: 480px) {
  .svg-mobile {
    width: 80px;
    height: 60px;
    margin-top: -25px;
  }
}

@media (min-width: 768px) {
  .responsive-svg {
    width: 580px;
    height: 298px;
  }
}

@media (min-width: 1440px) {
  .responsive-svg {
    width: 1130px;
    height: 298px;
  }
}



.responsive-svgg {
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  .responsive-svgg {
    width: 264px;
    height: 299px;
  }
}


.custom-svg {
  width: 240px;
  height: auto;
}

@media (min-width: 768px) {
  .custom-svg {
    width: 280px;
    height: 280px;
  }
}

.custom-svg-472 {
  width: 336px;
  height: auto; 
}

@media (min-width: 768px) {
  .custom-svg-472 {
    width: 472px;
    height: 227px;
  }
}
@media (width: 1024px) {
  .section14{
    margin-left: 80px !important;
  }
  
}

@media (width: 1024px) {
  .extra{
    width: 1000px !important;
  }
  
}

@media (width: 1024px) {
  .heading h1{
    font-size: 50px;
    line-height: 66px;
    margin-right: 10px; 
  }
  
}

@media (width: 1024px) {
  .heading1 p{
    font-size: 30px;
    line-height: 37px;
    margin-right: 10px; 
  }
  
}
@media (width: 1024px) {
  .extraclass2 p{
    font-size: 16px;
    margin-right: 0px;
    margin-left: 0px;
  }

    .extraclass2 a{
      font-size: 16px;
      margin-right: 0px;
      margin-left: 0px;
}
  
}

@media (width: 1024px) {
  .extraclass1{
    width: 300px;
    gap: 10px !important;
  }
  
}

@media (width: 1024px) {
  .extraclass{
    width: 1000px !important;
  }
}

/* Exactly 1024px */
@media (width: 1024px) {
  .flipcard {
    width: 480px !important;
  }
  .flipcard h2 {
    font-size: 18px;
  }
  .flipcard p {
    font-size: 16px;
  }
  .flipcard span {
    font-size: 16px;
  }
  .flipcard svg {
    width: 100px !important; /* Adjust width */
    height: 14px !important; /* Adjust height */
  }
  .flipcard input {
    font-size: 16px;
    width: 190px !important; /* Adjust width */
    height: 50px !important; /* Adjust height */
  }
  .flipcard select{
    font-size: 16px;
    width: 190px !important; /* Adjust width */
    height: 50px !important; /* Adjust height */
  }
  .flipcard label {
    margin-left: 40px;
    width: 200px !important; /* Adjust width */
    height: 50px !important; /* Adjust height */
  }

}

/* 1025px and up */
@media (min-width: 1025px) {
  .flipcard {
    width: 617px !important;
  }
 
}

.svg-hover {
  width: 350px;
  height: 350px;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

@media (max-width: 639px) {
  .svg-hover {
    width: 315px;
  }
}

@media (min-width: 640px) { 
  .svg-hover:hover {
    width: 380px;
    height: 380px;
  }
}

.swiper-pagination {
  position: absolute;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

@media (max-width: 768px) {
  .swiper-pagination {
    margin-top: 30px;
  }
}


.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  background: #D9D9D9;
  opacity: 0.5;
  margin: 0 5px;
  transition: background-color 0.3s, transform 0.3s;
}


.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0009ff; 
  opacity: 1; 
}

.gradient-container {
  background: radial-gradient(105.57% 105.57% at 50% 50%, #FFF 0%, #FAFAFA 100%);
  transition: background 0.3s ease-in-out;
}

.gradient-container:hover {
  background: radial-gradient(105.57% 105.57% at 50% 50%, #FFF 0%, #969AFF 100%);
}

.hover-gradient-container {
  background: #FAFAFA; /* Default background */
  transition: background 0.3s ease-in-out;
}

.hover-gradient-container:hover {
  background: conic-gradient(from 187deg at 16.05% 158.56%, #CFFF49 0deg, #E24125 180deg, #0009FF 360deg);
}

.hover-radial-gradient-container {
  background: #FAFAFA; /* Default background color */
  transition: background 0.3s ease-in-out;
}

.hover-radial-gradient-container:hover {
  background: radial-gradient(105.57% 105.57% at 50% 50%, #D83200 0%, #0009FF 50%);
}

.gradient-hover:hover {
  background: linear-gradient(180deg, #03088D 0%, #0009FF 50%, #0208B8 100%);
  box-shadow: 
    0px 12px 14px -4px rgba(0, 0, 0, 0.9), 
    0px 0px 0.5px 2px #1E1C1C inset, 
    4px 6px 3px -5px #FFF inset, 
    2px 2px 0px 0px rgba(0, 0, 0, 0.85) inset, 
    0px 5px 0.5px -2px #EFEFEF inset, 
    2px 2px 5px 3px #151313 inset, 
    0px -4px 2px 0px rgba(0, 0, 0, 0.6) inset, 
    3px -3px 4px 0px rgba(104, 88, 74, 0.85) inset, 
    0px -4px 4px 2px rgba(255, 235, 201, 0.15) inset;
}
h2.responsive-heading {
  color: #000;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -2.4px;
}

@media (max-width: 768px) {
  h2.responsive-heading {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: -1.2px;
  }
}


/* Custom margin-left for different screen sizes */
.custom-margin {
  margin-left: 20px; /* Default for small screens */
}

@media (min-width: 377px) and (max-width: 427px) {
  .custom-margin {
    margin-left: 38px; /* For 375px to 425px screens */
  }
}

@media (min-width: 768px) {
  .custom-margin {
    margin-left: 0px; /* For md and larger (tablets and up) */
  }
}

/* Modify the .swiper-3d and related classes */

/* Override the 3D style for swiper slides */
.swiper-3d .swiper-slide {
  /* Change the 3D effect transformation */
  transform: rotateY(30deg) scale(1.05); /* Adjust rotation and scale */
  transition: transform 0.8s ease; /* Smooth transition */
}

/* Modify the cube shadow */
.swiper-3d .swiper-cube-shadow {
  /* Change shadow properties */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  opacity: 0.5; /* Reduce the opacity */
}

/* Modify the shadow of individual swiper slides */
.swiper-3d .swiper-slide-shadow {
  /* Example of modifying slide shadows */
  background: rgba(0, 0, 0, 0.3); /* Adjust shadow background */
  opacity: 0.6; /* Adjust opacity */
}

/* Change the shadow for the top of the swiper slide */
.swiper-3d .swiper-slide-shadow-top {
  background: rgba(0, 0, 0, 0.3); /* Modify the top shadow */
  opacity: 0.8;
}

/* Change the shadow for the left side of the swiper slide */
.swiper-3d .swiper-slide-shadow-left {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

/* Modify the right-side shadow */
.swiper-3d .swiper-slide-shadow-right {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.7;
}

/* Modify the bottom shadow */
.swiper-3d .swiper-slide-shadow-bottom {
  background: rgba(0, 0, 0, 0.5);
  opacity: 0.2;
}

/* Modify the swiper wrapper (perspective or transform style) */
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d; /* Keep 3D effect */
  perspective: 1200px; /* Adjust the perspective */
}

/* Default styles for larger screens */
.swiper-cards {
  width: 100%; /* Full width on larger screens */
  height: 100%; /* Ensure it takes full height */
}

/* Media query for mobile devices */
@media (max-width: 576px) {
  .swiper-cards {
    width: 90%; /* Set width to 90% on mobile devices */
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure it's visible on smaller screens */
  overflow: hidden;
}


.spinner {
  border: 4px solid transparent;
  border-top: 4px solid #ffffff; /* White spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (width: 1024px) {
  .logotheeksperts {
    width: 1010px !important;
  }
}
.partners-slider-container {
  text-align: center;
}

.partner-logo {
  width: 100%;
  max-width: 86px;
  height: 86px;
  margin: auto;
}
@media (width: 1024px) {
  .icon1 {
    margin-left: 660px !important;
  }}

  @media (width: 1024px) {
    .icon2 {
      margin-right: 660px !important;
    }}

    @media (width: 1024px) {
      .header2 {
        font-size: 50px !important;
        margin-left: 80px !important;
      }}
      @media (width: 1024px) {
        .p2 {
          font-size: 18px !important;
          width: 900px;
        }}


        @media (width: 1024px) {
          .sliderfix {
            max-width: 1000px !important;
          }}

         
          @media (width: 1024px) {
            .btnfix{
              margin-left: 420px !important;
              margin-top: -30px;
             }}

 @media (width: 1024px) {
.pfix{
 width: 100px;
 height: 300px;
 font-size: 10px;
 line-height: 15px;
}}
  
@media (max-width: 1024px) {
  .custom-1024 {
    max-width: 1000px; /* Adjust width as needed */
  }
}

@media (width: 1024px) {
  .custom-1025 {
margin-left: 300px !important;
  }
}

@media (max-width: 1024px) {
  .custom-1026 {
    width: 100%;
    max-width: 900px; /* Adjust width as needed */
  }
}


@media (max-width: 1024px) {
  .custom-1020 {
    min-width: 300px !important; 
      }
}

@media (width: 1024px) {
  .custom-1020 {
width:300px !important;  }
}

@media (width: 1024px) {
  .custom-1060 {
margin-top: -70px !important; 
margin-left: 530px !important;}
}